<!DOCTYPE html>

<html>
<head>
    <meta charset="utf-8" />
    <title>Get Emails</title>    
</head>
<body>

    <h2>Get Emails</h2>
    <product-form name="product-form">
        <p>
            <label for="product-name">Product Name</label>
            <input type="text" name="product-name" id="product-name" />
        </p>
        <p>
            <label for="password">Password</label>
            <input type="text" name="password" id="password" />
        </p>
        <p>
            <button type="submit" name="submitBtn" id="submitBtn">Submit</button>
        </p>
    </product-form>


</body>
</html>